# Django
DEBUG=1
SECRET_KEY=troque-por-uma-chave-segura
ALLOWED_HOSTS=*

# DB
POSTGRES_DB=fitness
POSTGRES_USER=fitness
POSTGRES_PASSWORD=fitness
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django settings extras
DJANGO_TIME_ZONE=America/Recife

# Django
DEBUG=0
SECRET_KEY=uma-chave-bem-grande-e-aleatoria-aqui
ALLOWED_HOSTS=maisfolegoapp.com.br,SEU_IP_PUBLICO

# DB (mesmo host "db", porque é o serviço do docker-compose)
POSTGRES_DB=fitness
POSTGRES_USER=fitness
POSTGRES_PASSWORD=uma-senha-forte-aqui
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_TIME_ZONE=America/Recife

STRAVA_CLIENT_ID=SEU_ID_AQUI
STRAVA_CLIENT_SECRET=SEU_CLIENT_SECRET_AQUI
STRAVA_REDIRECT_URI=https://maisfolegoapp.com.br/strava/callback
GEMINI_API_KEY=sua_chave_aqui
